@charset "UTF-8";

#listDiv{
	width: 1050px;
}

#containerDiv{
	width: 1050px;
	height: 550px;
	margin: auto;
	
}

.rightFloat{
	float: right;
}

#listTab{
	width: 100%;
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

.borderTr {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }


#listTab > thead{
	background-color: skyblue;
	text-align: left;
}

#th1, #th5{
	width:10%;
}

#th2{
	width:30%;
}

#th3, #th4{
	width: 20%;
}

#writeBtn{
	float:right;
}

#pageDiv{
	text-align: center;
}

#cBtn{
	color: red;
}

#moveInfo{
	color: green;
}

