@charset "UTF-8";

#closeBtnX {
	width: 24px;
	aspect-ratio: auto 24/24;
	height: 24px;
	position: absolute;
	right: 24px;
	top: 12px;
	z-index: 2;
}

a {
	color: #385898;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body, button, input, label, select, td, textarea {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}
div{
	margin-bottom: 10px;
}

label {
	vertical-align: middle;
}

input, select, ._d4_fo_sp {
	background-color: #fff;
	border: 1px solid #ccd0d5;
	box-sizing: border-box;
	display: inline-block;
	flex: 1 0 auto;
	font-weight: normal;
	height: 36px;
	margin: 8px 6px 6px;
	padding: 0;
	position: relative;
	width: auto;
}
input{
	margin: 0;
	padding: 11px;
}

._d1 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

._d2 {
	display: inline-block;
	margin: 20px;
	position: relative;
	text-align: left;
}

._d3 {
	align-items: center;
	background-color: #fff;
	border-radius: 8px;
	border-color: #f5f6f7;
	border-style: solid;
	box-sizing: border-box;
	padding: 10px 16px;
	position: relative;
	width:455px;
	z-index: 1;
	overflow: visible;
}
#_d3{
	background-color:  #fff;
}

#_d4_fd {
	color: #1c1e21;
	font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
	line-height: 38px;
	margin-bottom: 0;
}

#_d4_sd {
	color: #606770;
	font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
}

._d4 {
	background-color: #fff;
	border-radius: 0 0 8px 8px;
	border-top: 1px solid #dadde1;
	box-sizing: border-box;
	padding: 16px;
	position: relative;
	width: 432px;
	font-family: inherit;
}

.signUp_header {
	align-items: center;
	background-color: #fff;
	border-radius: 8px 8px 0 0;
	box-sizing: border-box;
	padding: 10px 16px;
	position: relative;
	width: 430px;
	z-index: 1;
}

.labelgen {
	cursor: default;
	box-sizing: border-box;
	padding: 0 28px 0 10px;
	width: 100%;
	vertical-align: middle;
	font-weight: normal;
	display: inline-block;
	font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
}

#radio_wrap {
	display: flex;
	flex-wrap: wrap;
	margin: -8px -6px -6px;
	width: 400px;
}
#rad_1, #rad_2, #rad_3{
	display: inline-block;
	background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;   
    padding: initial;
    border: initial;
    height: 36px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 0;
}
#signUpBtn{
	background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
	cursor:pointer;
}
#signBtn_d{
	text-align: center;
}
.inputText, #hidId{
	background-color: #f5f6f7;
	border-color: #ccd0d5;
    width: 375px;
    border-radius: 5px;
}
._d_fullname{
	width: 400px;
	height: 50px;
	margin-bottom: 0px;
}
#lastname_d, #firstname_d{
	margin-right: 8px;
	margin-bottom: 10px;
	display: inline-block;
    position: relative;
    width: 180px;
    height: 40px;
   
}
#lname_input, #fname_input{
	width: 184px;
	padding: 11px;
	margin: 0;
}
.selectors, ._d4_fo_sp{
	border-radius: 4px;
}
.selectors{
	width: 119px;
	margin: 0px 0px 0px 11px;
}
#bir_year{
	margin: 0px;
}

