<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>web04_166</display-name>
 
  <context-param>
  	<param-name>driver</param-name>
  	<param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
  	<param-name>user</param-name>
  	<param-value>fb12</param-value>
  </context-param>
  <context-param>
  	<param-name>password</param-name>
  	<param-value>1234</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>AppInitServlet</servlet-name>
  	<servlet-class>fbc.servlets.AppInitServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- encoding 필터 선언 -->
  <filter>
  	<filter-name>CharacterEncoding</filter-name>
  	<filter-class>fbc.filters.CharacterEncodingFilter</filter-class>
  	
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>  	
  </filter>
  
  <!-- 어떤 패턴의 요청이 들어왔을때 동작할지 맵핑(/* 즉 모든 패턴에서 처리) -->
  <!-- /*(에스트리크) 모든 주소에 필터를 처리할것 즉 필터처리가 우선되고 서블릿이 실행된다(9.16) -->
  <filter-mapping>
  	<filter-name>CharacterEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>